body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* */
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bot {
    margin-top: 25px; 
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 15px;
    width: 35%;
}

.bot-photo {
    background: #373737;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

    .bot-photo img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        border: 3px solid #007bff;
    }

.bot-text {
    margin-left: 20px;
    color: #373737;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bot-text__title {
    font-size: 25px;
}

.status-true {
    color: green;
}

.status-false {
    color: red; 
}