@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles List:</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Create Role</a>
<a asp-action="UserList">User List</a>